{{#if error}}
  <div class="alert">
    {{error}}
  </div>
{{/if}}
<div class="card">
  <div class="card-content">
  {{#if user._id}}
    <form method="POST" action="/api/users/edit/admin/{{user._id}}" novalidate>
  {{else}}
    <form method="POST" action="/api/users/add/admin" novalidate>
  {{/if}}
      <div class="field">
        <div class="control">
          <input class="input" name="lastName" placeholder='name' value="{{user.lastName}}">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input class="input" name="firstName" placeholder='firstName' value="{{user.firstName}}">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input class="input" type="email" name="email" placeholder='email' value="{{user.email}}">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input class="input" name="password" placeholder='password' value="{{user.password}}">
        </div>
      </div>
      <div class="content">
        <a class="button" href="/api/users">
          Cancel
        </a>
        <button class="button" type="submit">
          Save
        </button>
      </div>
    </form>
  </div>
</div>
